@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f5f2ea;
    color: #2b2a29;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f5f2ea;
  }

  ::-webkit-scrollbar-thumb {
    background: #dcd0c0;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c5a059;
  }
}
